name: Node

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [22, 24]
        examples: ["html", "nuxt", "vite", "vue-cli"]

    name: examples-build
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.5

      - name: Set up node ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies and build library
        run: |
          npm ci
          npm run build --if-present
          npm pack

      - name: Install example dependencies
        working-directory: "examples/${{ matrix.examples }}"
        run: |
          npm ci
          version=$(cat ../../package.json | jq --raw-output .version)
          npm install -D ../../skjnldsv-vue-plyr-$version.tgz

      - name: Build ${{ matrix.examples }} example
        working-directory: "examples/${{ matrix.examples }}"
        run: npm run build --if-present

  summary:
    runs-on: ubuntu-latest
    needs: build
    if: always()

    name: examples-summary
    steps:
      - name: Summary status
        run: if ${{ needs.build.result != 'success' && needs.build.result != 'skipped' }}; then exit 1; fi
